/*--------MAIN STYLES-------*/

.linkNav {
    display: inline-block;
    text-decoration: none;
    color: #4e4b4b;
    padding-right: 150px;
}
h1 {
    display: ;
    font-size: 4em;
    /*justify-content: center;*/
    /*3d text
    text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
    0 3px 0 #bbb,
    0 4px 0 #b9b9b9,
    0 5px 0 #aaa,
    0 6px 1px rgba(0,0,0,.1),
    0 0 5px rgba(0,0,0,.1),
    0 1px 3px rgba(0,0,0,.3),
    0 3px 5px rgba(0,0,0,.2),
    0 5px 10px rgba(0,0,0,.25),
    0 10px 10px rgba(0,0,0,.2),
    0 20px 20px rgba(0,0,0,.15);*/
}

p {
    display: ;
    font-size: 22px;
    /*justify-content: center;*/
}

ul {
    display: /*inline-flex*/;
    flex-direction: /*row*/;
    
}


/*--------CLASS STYLES-------*/

/*.bg-font {
    color: #e7e7e7;
}*/

/*test background image */
  body, html {
    height: 100%;
    text-rendering: optimizeLegibility;
}

/*.bg { 
    /* The image 
    background-image: url("../img/nyc.jpg");

    /* Full height 
    height: 100%; 

    /* Center and scale the image 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

/*Scroll button styles: https://codepen.io/nxworld/pen/OyRrGy*/
  
.demo .buttonLink {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}



#section07 a {
  padding-top: 80px;
}
#section07 a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb07 2s infinite;
  animation: sdb07 2s infinite;
  opacity: 0;
  box-sizing: border-box;
}
#section07 a span:nth-of-type(1) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
#section07 a span:nth-of-type(2) {
  top: 16px;
  -webkit-animation-delay: .15s;
  animation-delay: .15s;
}
#section07 a span:nth-of-type(3) {
  top: 32px;
  -webkit-animation-delay: .3s;
  animation-delay: .3s;
}
@-webkit-keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes sdb07 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* parallax scroll */

.parallax { 
  /* The image used */
  background-image: url("../img/street.jpg");

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*Text Styles*/
  color: whitesmoke;
}

.parallax2 { 
  /* The image used */
  /*background-image: url("img/street.jpg");*/
  background-color: white;

  /* Set a specific height */
  height: 50%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax3 { 
  /* The image used */
  background-image: url("../img/37808321-wallpaper-city.jpg");

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*Text Styles*/
  color: whitesmoke;
}

.parallax4 { 
  /* The image used */
  background-image: url("../img/37808321-wallpaper-city.jpg");

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*Text Styles*/
  color: whitesmoke;
}

.parallax5 { 
  /* The image used */
  background-image: url("../img/stunning-long-exposure-of-incredible-scenery-and-the-night-sky_wallpprs.com_.jpg");

  /* Set a specific height */
  height: 100%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  /*Text Styles*/
  color: whitesmoke;
}


/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */

/*
@media only screen and (max-device-width: 1366px) {
  .parallax {
      background-attachment: scroll;
  }
}
*/